/*------------------ MEDIA 1440px ------------------*/

@media screen and (max-width: 1440px) {

   /* header */

   .head__button-call {
      font-size: calc(10px + (22 - 10)*((100vw - 320px) / (1440 - 320)));
   }

   .head__reservation {
      font-size: calc(10px + (22 - 10)*((100vw - 320px) / (1440 - 320)));
   }

   /* navigation */

   .nav__link {
      font-size: calc(10px + (22 - 10)*((100vw - 320px) / (1440 - 320)));
   }

   /* sec one */

   .section-one__title {
      font-size: calc(30px + (100 - 30)*((100vw - 320px) / (1440 - 320)));
      line-height: calc(35px + (110 - 35)*((100vw - 320px) / (1440 - 320)));
   }

   .section-one__text {
      font-size: calc(14px + (20 - 14)*((100vw - 320px) / (1440 - 320)));
      line-height: calc(23px + (30 - 23)*((100vw - 320px) / (1440 - 320)));
   }

   .section-one__button-name {
      font-size: calc(12px + (22 - 12)*((100vw - 320px) / (1440 - 320)));
   }

   /* sec two */

   .section-two__name {
      font-size: calc(15px + (30 - 15)*((100vw - 320px) / (1440 - 320)));
   }

   .section-two__about {
      font-size: calc(12px + (20 - 12)*((100vw - 320px) / (1440 - 320)));
      line-height: calc(20px + (20 - 20)*((100vw - 320px) / (1440 - 320)));
   }

   /* sec three */

   .section-three__title,
   .section-three__year {
      font-size: calc(25px + (40 - 25)*((100vw - 320px) / (1440 - 320)));
   }

   .section-three__text,
   .section-three__discription,
   .josefine {
      font-size: calc(14px + (20 - 14)*((100vw - 320px) / (1440 - 320)));
      line-height: calc(20px + (30 - 20)*((100vw - 320px) / (1440 - 320)));
   }

   /* sec four */

   .section-dishes__title {
      font-size: calc(25px + (40 - 25)*((100vw - 320px) / (1440 - 320)));
   }

   .section-dishes__text {
      font-size: calc(14px + (20 - 14)*((100vw - 320px) / (1440 - 320)));
      line-height: calc(20px + (30 - 20)*((100vw - 320px) / (1440 - 320)));
   }

   .section-dishes__button-name {
      font-size: calc(12px + (22 - 12)*((100vw - 320px) / (1440 - 320)));
   }

   .section-list__dishes-title {
      font-size: calc(20px + (36 - 20)*((100vw - 320px) / (1440 - 320)));
   }

   .list-item-title {
      font-size: calc(14px + (30 - 14)*((100vw - 320px) / (1440 - 320)));
   }

   .list-item-about {
      font-size: calc(10px + (20 - 10)*((100vw - 320px) / (1440 - 320)));
      line-height: calc(15px + (30 - 15)*((100vw - 320px) / (1440 - 320)));
   }

   .list-item-cost {
      font-size: calc(14px + (30 - 14)*((100vw - 320px) / (1440 - 320)));
   }

   .content-popup {
      font-size: calc(16px + (30 - 16)*((100vw - 320px) / (1440 - 320)));
   }

   /* sec five */

   .section-five__title__title {
      font-size: calc(25px + (40 - 25)*((100vw - 320px) / (1440 - 320)));
   }

   .section-five__title__text {
      font-size: calc(14px + (20 - 14)*((100vw - 320px) / (1440 - 320)));
      line-height: calc(23px + (30 - 23)*((100vw - 320px) / (1440 - 320)));
   }

   .slider__photo {
      width: calc(50px + (113 - 80)*((100vw - 320px) / (1440 - 320)));
      height: calc(50px + (113 - 80)*((100vw - 320px) / (1440 - 320)));
   }

   .slider__name {
      font-size: calc(14px + (30 - 14)*((100vw - 320px) / (1440 - 320)));
      line-height: calc(15px + (30 - 15)*((100vw - 320px) / (1440 - 320)));
   }

   .slider__city {
      font-size: calc(10px + (20 - 10)*((100vw - 320px) / (1440 - 320)));
   }

   .slider__review {
      font-size: calc(14px + (24 - 14)*((100vw - 320px) / (1440 - 320)));
      line-height: calc(20px + (38 - 20)*((100vw - 320px) / (1440 - 320)));
   }

   /* sec seven */

   .section-seven__title {
      font-size: calc(25px + (40 - 25)*((100vw - 320px) / (1440 - 320)));
   }

   .section-seven__about {
      font-size: calc(14px + (20 - 14)*((100vw - 320px) / (1440 - 320)));
      line-height: calc(23px + (30 - 23)*((100vw - 320px) / (1440 - 320)));
   }

   .section-seven__main-title-card {
      font-size: calc(10px + (15 - 10)*((100vw - 320px) / (1440 - 320)));
      letter-spacing: calc(2px + (4.5 - 2)*((100vw - 320px) / (1440 - 320)));
   }

   .section-seven__title-card {
      font-size: calc(18px + (40 - 18)*((100vw - 320px) / (1440 - 320)));
      line-height: calc(28px + (56 - 28)*((100vw - 320px) / (1440 - 320)));
   }

   .section-seven__text-card {
      font-size: calc(10px + (20 - 10)*((100vw - 320px) / (1440 - 320)));
      line-height: calc(15px + (30 - 15)*((100vw - 320px) / (1440 - 320)));
   }

   .section-seven__decor-cost {
      font-size: calc(20px + (40 - 20)*((100vw - 320px) / (1440 - 320)));
      line-height: calc(37px + (66 - 37)*((100vw - 320px) / (1440 - 320)));
   }

   .section-seven__decor-only {
      font-size: calc(10px + (15 - 10)*((100vw - 320px) / (1440 - 320)));
   }

   /* sec eight */

   .section-eight__title {
      font-size: calc(25px + (40 - 25)*((100vw - 320px) / (1440 - 320)));
   }

   .section-eight__about,
   .section-eight__about-dishes {
      font-size: calc(14px + (20 - 14)*((100vw - 320px) / (1440 - 320)));
      line-height: calc(23px + (30 - 23)*((100vw - 320px) / (1440 - 320)));
   }

   .section-eigth__name-dishes,
   .section-eigth__cost-dishes {
      font-size: calc(23px + (30 - 23)*((100vw - 320px) / (1440 - 320)));
   }

   .section-eight__button-name {
      font-size: calc(14px + (22 - 14)*((100vw - 320px) / (1440 - 320)));
   }

   /* sec nine */

   .section-nine__title {
      font-size: calc(25px + (40 - 25)*((100vw - 320px) / (1440 - 320)));
   }

   .section-nine__about {
      font-size: calc(14px + (20 - 14)*((100vw - 320px) / (1440 - 320)));
      line-height: calc(23px + (30 - 23)*((100vw - 320px) / (1440 - 320)));
   }

   /* sec ten */

   .section-ten__title {
      font-size: calc(25px + (40 - 25)*((100vw - 320px) / (1440 - 320)));
   }

   .section-ten__about {
      font-size: calc(14px + (20 - 14)*((100vw - 320px) / (1440 - 320)));
      line-height: calc(23px + (30 - 23)*((100vw - 320px) / (1440 - 320)));
   }

   .section-ten__button-name {
      font-size: calc(14px + (22 - 14)*((100vw - 320px) / (1440 - 320)));
   }

   .section-ten__text-title {
      font-size: calc(20px + (30 - 20)*((100vw - 320px) / (1440 - 320)));
      line-height: calc(28px + (39 - 28)*((100vw - 320px) / (1440 - 320)));
   }

   .section-ten__text-about {
      font-size: calc(14px + (20 - 14)*((100vw - 320px) / (1440 - 320)));
      line-height: calc(23px + (30 - 23)*((100vw - 320px) / (1440 - 320)));
   }

   .section-ten__text-main-title {
      font-size: calc(10px + (15 - 10)*((100vw - 320px) / (1440 - 320)));
   }

   /* section eleven */

   .section-eleven__title {
      font-size: calc(25px + (40 - 25)*((100vw - 320px) / (1440 - 320)));
   }

   .section-eleven__reservation_input {
      font-size: calc(12px + (22 - 12)*((100vw - 320px) / (1440 - 320)));
   }

   .section-eleven__button-name {
      font-size: calc(12px + (22 - 12)*((100vw - 320px) / (1440 - 320)));
   }

   /* footer */

   .footer__hashtag {
      font-size: calc(14px + (22 - 14)*((100vw - 320px) / (1440 - 320)));
   }

   .footer__info {
      font-size: calc(14px + (20 - 14)*((100vw - 320px) / (1440 - 320)));
   }

   .footer__about {
      font-size: calc(14px + (20 - 14)*((100vw - 320px) / (1440 - 320)));
      line-height: calc(23px + (30 - 23)*((100vw - 320px) / (1440 - 320)));
   }

   .footer__email,
   .footer__button {
      font-size: calc(10px + (22 - 10)*((100vw - 320px) / (1440 - 320)));
   }

   .footer__week-day,
   .footer__time,
   .footer__info {
      font-size: calc(14px + (20 - 14)*((100vw - 320px) / (1440 - 320)));
      line-height: calc(23px + (30 - 23)*((100vw - 320px) / (1440 - 320)));
   }

   .content__text {
      font-size: calc(14px + (20 - 14)*((100vw - 320px) / (1440 - 320)));
   }
}

/*------------------ MEDIA 1250px ------------------*/

@media screen and (max-width: 1250px) {

   .section-nine {
      flex-wrap: wrap;
      justify-content: center;
   }

   .section-nine__text-content {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
   }

   .section-nine__icon-elements {
      flex-wrap: wrap;
      justify-content: center;
   }
}

/*------------------ MEDIA 1040px ------------------*/

@media screen and (max-width: 1040px) {

   /* header */

   .head__main-logo {
      width: 100%;
      max-width: 250px;
      height: auto;
   }

   /* sec one */

   .section-one__main-title {
      margin: 7% 0 1.8% 0;
   }

   /* sec three */

   .section-three__year-dscrptn {
      gap: 50px;
   }

   /*sec four */

   .section-four {
      flex-wrap: wrap;
   }

   .section-four__section-dishes,
   .section-four__section-list-dishes {
      width: 100%;
   }

   .section-four__section-dishes {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
   }

   /* section seven */

   .section-seven__img-content {
      flex-wrap: wrap;
   }

   .section-seven__card.chicken-burger {
      width: 60%;
      height: 35vw;
   }

   .section-seven__card.chicken-pizza {
      width: 60%;
      height: 35vw;
   }

   .section-seven__decor-cost,
   .section-seven__decor-only {
      top: 30%;
   }
}

/*------------------ MEDIA 1024px ------------------*/

@media screen and (max-width: 1024px) {

   /* sec three */

   .section-three {
      justify-items: center;
      text-align: center;
   }
}

/*------------------ MEDIA 940px ------------------*/

@media screen and (max-width: 940px) {

   /* section two */

   .section-two__about-sec {
      flex-direction: column;
      justify-content: start;
   }

   .locate_us,
   .open_hours,
   .reservation {
      display: flex;
      width: 100%;
   }

   .section-eleven__button-name {
      padding: 1vw 3vw;
   }

   /* footer */

   .footer__main-info {
      flex-wrap: wrap;
      justify-content: center;
   }

   .footer__contact {
      order: 2;
      margin-top: 3vw;
   }

   .footer__contact,
   .footer__working-hours {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .footer__logo-subcribe {
      width: 100%;
   }

   .footer__logo {
      width: 35vw;
      height: auto;
   }

   .footer__form {
      height: 5vw;
   }

   .footer__email {
      width: 35vw;
   }
}

/*------------------ MEDIA 853px ------------------*/

@media screen and (max-width: 830px) {

   /* sec two */

   .section-two {
      display: flex;
      justify-content: center;
      padding: 20px 20px 0 20px;
   }
}

/*------------------ MEDIA 830px ------------------*/

@media screen and (max-width: 830px) {

   /* header */

   .head__button-call {
      order: 2;
      padding: 0.5em 2em 0.5em 2em;
   }

   .head {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px 130px;


   }

   .head__main-logo {
      margin: 10px 130px 0 130px;
   }

   .head__reservation {
      padding: 0.5em 3.1em 0.5em 3.1em;
   }

   /*sec one */

   .section-one {
      flex-wrap: wrap;
      padding: 0 40px;
      display: flex;
      justify-content: center;
   }

   .section-one__text-section {
      text-align: center;
   }

   .section-one__main-title {
      display: flex;
      gap: 15px;
      justify-content: center;
   }
}

/*------------------ MEDIA 770px ------------------*/

@media screen and (max-width: 770px) {

   /* header */

   .head {
      padding: 10px 19vw;
   }

   .head__main-logo {
      margin: 0px 20px;
   }

   /* navigation */

   .body.lock {
      overflow: hidden;
   }

   .navigation {
      position: absolute;
      width: 100%;
      margin: 0;
      bottom: 0;
      z-index: 5;

      display: flex;
      flex-direction: column;
      align-items: center;

      transform: translateY(-45%);

      top: 220px;
   }

   .nav__link {
      font-size: 20px;
      margin-bottom: 10px;
   }

   .burger-menu {
      position: fixed;
      left: -100%;

      width: 100%;
      height: 100%;
      background-color: #292E36;

      z-index: 2;
      transition: all 1s ease 0s;

      overflow: auto;

      top: 205px;
   }


   .burger-menu.active {
      left: 0%;
      transition: all 0.5s ease 0s;
      z-index: 1;
   }

   .head__burger {
      display: block;
   }

   .head__burger {
      display: block;
      position: relative;
      width: 27px;
      height: 20px;

      margin-left: 30px;
      margin-right: auto;
      z-index: 5;
      transition: all 0.5s ease 0s;
   }

   .head__burger span {
      width: 27px;
      height: 2.5px;
      left: 0;
      top: 9px;
      position: absolute;
      display: block;
      background-color: #DCDCDC;
      transition: all 0.5s ease 0s;
   }

   .head__burger:before {
      content: "";
      width: 27px;
      height: 2.5px;
      position: absolute;
      display: block;
      background-color: #DCDCDC;
      top: 0;
      transition: all 0.5s ease 0s;
   }

   .head__burger:after {
      content: "";
      width: 27px;
      height: 2.5px;
      position: absolute;
      display: block;
      background-color: #DCDCDC;
      bottom: 0;
      transition: all 0.5s ease 0s;
   }



   /* sec four */

   .list-item-img {
      width: 70px;
      height: 70px;
   }

   /*section seven */

   .section-seven__card.chicken-burger {
      width: 80%;
      height: 45vw;
   }

   .section-seven__card.chicken-pizza {
      width: 80%;
      height: 45vw;
   }
}

/*------------------ MEDIA 642px ------------------*/

@media screen and (max-width: 642px) {

   /*sec three*/

   .section-three__year-dscrptn {
      gap: 10px;
   }

   .section-three {
      grid-template-columns: 100%;
   }
}

/*------------------ MEDIA 620px ------------------*/

@media screen and (max-width: 620px) {

   /* header */

   .head {
      flex-direction: column;
   }

   /* .navigation {
      top: 35%;
   }*/

   .burger-menu {
      top: 255px;
   }

   /* section eleven */

   .section-eleven__reservation {
      width: 100%;
      margin: 3vw 3vw;
      height: 100%;
      padding: 40px;
   }

   .section-eleven__reservation_input {
      height: 7vw;
      width: 28vw;
   }

   .section-eleven__reservation_input.two {
      width: 18vw;
   }

   .section-eleven__button-name {
      padding: 0.5vw 2vw;
   }
}

/*------------------ MEDIA 540px ------------------*/

@media screen and (max-width: 540px) {

   /* header */

   .navigation {
      top: 190px;
   }

   .head__main-logo {
      width: 150px;
      height: auto;
   }

   .burger-menu {
      top: 205px;
   }

   /* sec one */

   .section-one__main-title {
      display: block;
   }

   .section-one__button-name {
      padding: 0.4em 1.5em 0.4em 1.5em;
   }

   /* sec two */

   .section-two {
      padding: 20px 20px 0 20px;
   }

   .section-two__circle {
      min-width: 45px;
      height: 45px;
      margin-top: 10px;
   }

   .fa-solid.fa-location-dot,
   .fa-regular.fa-clock,
   .fa-regular.fa-clipboard {
      font-size: 20px;
   }

   .section-two__name {
      margin-bottom: -5px;
   }

   /*sec four*/

   .list-item-decor {
      display: none;
   }

   .list-item-title {
      margin-bottom: 3px;
   }

   .list-item-about {
      padding-right: 15px;
   }

   .list-item-cost {
      bottom: 0;
   }

   /*sec five */

   .slider-card {
      display: flex;
      border: none;
   }

   /* section seven */

   .section-seven__card.chicken-burger {
      width: 100%;
      height: 55vw;
   }

   .section-seven__card.chicken-pizza {
      width: 100%;
      height: 55vw;
   }

   /* section eleven */

   .section-eleven__reservation_input {
      height: 8vw;
      width: 30vw;
   }

   .section-eleven__reservation_input.two {
      width: 19.4vw;
   }

   /* footer */

   .footer__hashtag-social {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      margin-bottom: 15px;
   }

   .footer__logo {
      width: 45vw;
      height: auto;
   }

   .footer__form {
      height: 7vw;
   }
}

/*------------------ MEDIA 420px ------------------*/

@media screen and (max-width: 420px) {

   /* section one */

   .section-one {
      padding: 0 20px;
   }

   .section-one__button-name {
      padding: 1px 15px;
   }

   /* section three */

   .section-three {
      padding: 40px 20px;
   }

   /* section four */

   .list-item-img {
      width: 60px;
      height: 60px;
      margin-right: 10px;
   }

   .section-dishes__img {
      height: auto;
      width: 100%;
      max-width: 398px;
      margin: 3.1vw 0 4.2vw 0;
      padding: 0 10px;
   }

   .section-dishes__text {
      padding: 0 10px;
   }

   .popup {
      width: 90%;
   }

   /* section seven */

   .section-seven__card.chicken-burger {
      width: 100%;
      height: 60vw;
   }

   .section-seven__card.chicken-pizza {
      width: 100%;
      height: 60vw;
   }

   .section-seven__about-card {
      width: 45%;
   }

   /* section nine */

   .section-nine__text-element {
      font-size: 20px;
   }

   .fa-solid.fa-clock,
   .fa-solid.fa-book-open,
   .fa-solid.fa-truck-fast {
      font-size: 30px;
      padding-top: 36px;
      margin-bottom: 10px;
   }

   .section-nine__elements {
      border: #343942 solid 15px;
      width: 180px;
      height: 170px;
   }

   /* section ten */

   .section-ten__text {
      text-align: center;
   }

   .section-ten__text-titles {
      justify-content: center;
   }

   .section-ten__text-title {
      margin: 13px 0;
   }

   .section-ten__text {
      padding: 15px;
   }

   /* section eleven */

   .section-eleven__reservation_input {
      height: 10vw;
      width: 35vw;
   }

   .section-eleven__reservation_input.two {
      width: 22.7vw;
   }

   .section-eleven__button-name {
      padding: 0.1vw 3vw;
   }

   /* footer */

   .footer__logo {
      margin: 10px 0 20px 0;
   }

   .footer__form {
      height: 9vw;
      margin: 20px 0 30px 0;
   }

   .footer__main-title {
      font-size: 10px;
      width: 129px;
   }

   .footer__main-title.contact {
      width: 68px;
   }

   .footer__email {
      width: 40vw;
   }

   .footer__button {
      width: 25vw;
   }
}

/*------------------ MEDIA 320px ------------------*/

@media screen and (max-width: 320px) {

   /* header */

   /* .navigation {
      top: 250px;
   } */

   .section-eleven__button {
      margin-top: 20px;
   }
}