* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
   margin: 0 auto;
}

.body {
   font-size: 16px;
}

/*header*/

.header {
   display: block;
   width: 100%;
   max-height: 370px;
   background-color: #292E36;
}

.head {
   height: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
   padding: 50px 40px;
}

.head__button {
   font-family: 'Josefin Sans', sans-serif;
   font-style: normal;
   font-weight: 400;
   text-align: center;
   cursor: pointer;
}

.head__button-call {
   border: #E1B168 solid 2px;
   background-color: #292E36;
   font-size: 22px;
   padding: 1em 3em 1em 3em;
}

.head__number-phone {
   align-items: normal;
   text-decoration: none;
   color: #FFFFFF;
}

.head__reservation {
   font-size: 22px;
   padding: 1em 4em 1em 4em;
}

.head__button-reservation {
   background-color: #E1B168;
   color: #292E36;
   border: #E1B168 solid 3.5px;
}

.head__header-menu::before {
   content: "";
   display: block;
   position: relative;
   width: 100%;
   height: 1px;
   background-color: #5C6168;
}

/* navigation */

.head__nav_logo {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.head__main-logo {
   height: auto;
   width: 100%;
   max-width: 378px;
   min-width: 10px;
}

.navigation {
   width: 100%;
   height: 82px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   gap: 3.5vw;
   margin-left: 3vw;
}

.head__burger {
   display: none;
}

.nav__link {
   text-decoration: none;
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   letter-spacing: 0.2px;
   color: #FFFFFF;
}

.nav__link:hover {
   color: #E1B168;
}

.head__burger.active:before {
   transform: rotate(45deg);
   top: 8.75px;
}

.head__burger.active:after {
   transform: rotate(-45deg);
   bottom: 8.75px;
}

.head__burger.active span {
   transform: scale(0);
}

.fa-brands:hover {
   color: #E1B168;
}

.head__logo_social {
   width: 219px;
   height: 82px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.fa-brands {
   color: #FFFFFF;
   font-size: 20px;
}

/* SECTION ONE - Welcome to Restaurant*/

.section-one {
   display: flex;
   justify-content: space-between;
   padding: 10px 10px 0 40px;
   background-color: #292E36;
   gap: 60px;
}

.section-one__title {
   display: block;
   position: relative;
   font-family: 'Cormorant Infant';
   font-style: normal;
   font-weight: 400;
   font-size: 100px;
   line-height: 110px;
   letter-spacing: 0.2px;
   color: #FFFFFF;
}

.section-one__main-title {
   margin: 15.3% 0 1.8% 0;
}

.section-one__text {
   display: block;
   position: relative;
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   letter-spacing: 0.2px;
   color: #FFFFFF;
}

.section-one__img {
   display: block;
   position: relative;
   height: auto;
   max-width: 595px;
   width: 100%;
}

.section-one__button {
   background-color: #292E36;
   border: #E1B168 solid 1px;
   cursor: pointer;
   margin-top: 2.4vw;
}

.section-one__button-name {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 1.3em;
   line-height: 33px;
   text-align: center;
   color: #E1B168;
   padding: 0.7em 2em 0.7em 2em;
}

/* SECTION TWO - Open Hours */

.section-two {
   background-color: #FFF8F5;
   padding: 7vw 2.7vw 4vw 2.7vw;
   display: flex;
   justify-content: center;
}

.section-two__about-sec {
   display: flex;
   justify-content: start;
   gap: 2vw;
}

.section-two__circle {
   min-width: 83px;
   height: 83px;
   background-color: #292E36;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 20px;
}

.fa-solid.fa-location-dot,
.fa-regular.fa-clock,
.fa-regular.fa-clipboard {
   color: #FFF8F5;
   font-size: 40px;
}

.section-two__name {
   font-family: 'Cormorant Infant';
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   line-height: 39px;
   letter-spacing: 0.2px;
   color: #292E36;
   margin-bottom: 0.5vw;
}

.section-two__about {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   letter-spacing: 0.2px;
   color: #555555;
}

.section-two__info {
   display: flex;
}

/* SECTION THREE - The Delicious Story*/

.section-three {
   display: grid;
   grid-template-columns: 60% 40%;
   grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
   gap: 3.5vw;
   background-color: #FFF8F5;
   padding: 5.8vw 2.7vw 8.6vw 2.7vw;
}

.section-three__img {
   height: auto;
   width: 100%;
   max-width: 743px;
}

.section-three__title {
   font-family: 'Cormorant Infant';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 56px;
   letter-spacing: 0.2px;
   color: #292E36;
}

.section-three__year-dscrptn {
   display: flex;
   margin-top: 1.7vw;
}

.section-three__text,
.section-three__discription,
.josefine {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   letter-spacing: 0.2px;
   color: #555555;
}

.section-three__year {
   font-family: 'Cormorant Infant';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 56px;
   letter-spacing: 0.2px;
   color: #292E36;
   margin-bottom: 1vw;
}

.josefine {
   text-transform: uppercase;
   margin: 20px 0;
}

.josefine_sign {
   height: auto;
   width: 100%;
   max-width: 199px;
}

/* SECTION FOUR - Menu */

.section-four {
   display: flex;
   gap: 55px;
   padding: 10vw 2.7vw 14vw 2.7vw;
   background-color: #FFFFFF;
}

.section-four__section-dishes {
   width: 35%;
}

.section-four__section-list-dishes {
   width: 65%;
}

.section-four__main-title {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   text-transform: uppercase;
   color: #292E36;
}

.section-dishes__title {
   font-family: 'Cormorant Infant';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   text-transform: capitalize;
   color: #292E36;
   padding: 12px 0 13px 0;
}

.section-four__main-title::after {
   content: "";
   display: block;
   position: relative;
   width: 48px;
   height: 1px;
   background-color: #E1B168;
}

.section-four__main-title::before {
   content: "";
   display: block;
   position: relative;
   width: 48px;
   height: 1px;
   background-color: #E1B168;
   bottom: 3px;
}

.section-dishes__text {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   color: #555555;
}

.section-dishes__img {
   height: auto;
   width: 100%;
   max-width: 398px;
   margin: 3.1vw 0 4.2vw 0;
}

.section-dishes__button {
   border: #E1B168 solid 2px;
   background-color: #FFFFFF;
   cursor: pointer;
}

.section-dishes__button-name {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   text-align: center;
   color: #E1B168;
   padding: 1.25em 3.5em;
}

.section-list__dishes-title {
   font-family: 'Cormorant Infant';
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   color: #292E36;
   margin-bottom: 2.8vw;
}

.list-item-dishes {
   display: flex;
   justify-content: stretch;
   align-items: center;
   margin-bottom: 3.4vw;
}

.list-item_title-about {
   width: 70%;
}

.list-item-decor {
   display: block;
   position: relative;
   background-color: #292E36;
   width: 60%;
   height: 1px;
   bottom: -25px;
}

.list-item-img {
   width: 84px;
   height: 84px;
   margin-right: 20px;
}

.section-list__dishes-title.dessert,
.section-list__dishes-title.main-dish {
   margin-top: 6vw;
}

.list-item-title {
   font-family: 'Cormorant Infant';
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   color: #292E36;
}

.list-item-about {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   color: #555555;
}

.list-item-cost {
   position: relative;
   display: block;
   font-family: 'Cormorant Infant';
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   color: #292E36;
   bottom: -10px;
   margin-left: 5px;
}

/* sec five slider */

.section-five {
   padding: 9.7vw 8%;
   background-color: #292E36;
}

.section-five__slider {
   width: 100%;
   margin: auto;
   overflow: hidden;
}

.slider__slider-line {
   display: flex;
   left: 0;
   transition: all ease 1s;
}

.slider-card {
   display: flex;
   border: #292E36 solid 5px;
}

.section-five__buttons {
   display: flex;
   justify-content: center;
   gap: 5px;
}

.section-five__slider_one {
   background-color: #343942;
   width: 50%;
   padding: 3vw;
   border: #292E36 solid 5px;
}

.section-five__sider-button-right:hover,
.section-five__sider-button-left:hover {
   background-color: #292E36;
}

.section-five__sider-button-prev,
.section-five__sider-button-next {
   width: 15px;
   height: 15px;
   border-radius: 50px;
   position: relative;
   margin-top: 5%;
   background-color: #797E89;
   border: #5C6168 solid 1px;
}

.section-five__title__main-title {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   text-transform: uppercase;
   color: #FFFFFF;
   margin-bottom: 12px;
}

.section-five__title__main-title::after {
   content: "";
   display: block;
   position: relative;
   width: 105px;
   height: 1px;
   background-color: #E1B168;
}

.section-five__title__main-title::before {
   content: "";
   display: block;
   position: relative;
   width: 105px;
   height: 1px;
   background-color: #E1B168;
   top: -5px;
}

.section-five__title__title {
   font-family: 'Cormorant Infant';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 56px;
   text-transform: capitalize;
   color: #FFFFFF;
   margin-bottom: 8px;
}

.section-five__title__text {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   color: #FFFFFF;
   margin-bottom: 5.5vw;
   position: relative;
   display: block;
}

.slider__photo {
   width: 113px;
   height: 113px;
   margin: 0 2vw 2vw 0;
}

.slider__name-city {
   padding-top: 3%;
}

.slider__name {
   font-family: 'Cormorant Infant';
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   line-height: 42px;
   letter-spacing: 0.2px;
   color: #FFFFFF;
}

.slider__city {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   letter-spacing: 0.2px;
   color: #E1B168;
}

.slider__img-name {
   display: flex;
}

.slider__review::before {
   content: "";
   display: block;
   position: relative;
   width: 100%;
   height: 1px;
   background-color: #797E89;
   margin-bottom: 2vw;
}

.slider__review {
   font-family: 'Cormorant Infant';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 38px;
   letter-spacing: 0.25px;
   color: #FFFFFF;
}

/* sec six: img */

.section-six__background-img {
   height: auto;
   width: 100%;
}

/* SECTION SEVEN - Our Offer dishes */

.section-seven {
   padding: 10vw 2.7vw;
}

.section-seven__text-content {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.section-seven__main-title {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   letter-spacing: 3px;
   line-height: 22px;
   text-transform: uppercase;
   color: #292E36;
   margin-bottom: 12px;
}

.section-seven__main-title::after,
.section-seven__main-title::before {
   content: "";
   display: block;
   position: relative;
   width: 74px;
   height: 1px;
   background-color: #E1B168;
}

.section-seven__main-title::before {
   bottom: 3px;
}

.section-seven__title {
   font-family: 'Cormorant Infant';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   text-transform: capitalize;
   color: #292E36;
   line-height: 56px;
   letter-spacing: 0.2px;
   margin-bottom: 8px;
}

.section-seven__about {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   letter-spacing: 0.2px;
   color: #555555;
   text-align: center;
}

.section-seven__img-content {
   display: flex;
   gap: 30px;
   justify-content: center;
   margin-top: 3vw;
}

.section-seven__background-img {
   max-width: 665px;
   width: 100%;
   height: auto;
   z-index: 1;
}

.section-seven__card.chicken-burger {
   background-image: url(/taste-eat/img/img_sec_seven_burger.png);
   width: 46vw;
   height: 28vw;
   background-size: no-repeat;
   background-position: center;
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding-left: 2.7%;
}

.section-seven__card.chicken-pizza {
   background-image: url(/taste-eat/img/img_sec_seven_pizza.png);
   width: 46vw;
   height: 28vw;
   background-size: no-repeat;
   background-position: center;
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding-left: 2.7%;
}

.section-seven__about-card {
   position: relative;
   z-index: 2;
   text-align: start;
   max-width: 254px;
   width: 100%;
   display: grid;
   gap: 1%;
}

.section-seven__main-title-card {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 22px;
   letter-spacing: 4.5px;
   text-transform: uppercase;
   color: #292E36;
   max-width: 210px;
   width: 100%;
   text-align: center;
}

.section-seven__main-title-card::before,
.section-seven__main-title-card::after {
   content: "";
   display: block;
   position: relative;
   width: 100%;
   height: 1px;
   background-color: #292E36;
}

.section-seven__main-title-card::before {
   top: -2px;
}

.section-seven__decor {
   z-index: 2;
   position: relative;
   width: 30%;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.section-seven__decor-card {
   max-width: 150px;
   width: 100%;
   height: auto;
   position: relative;
   z-index: 1;
}

.section-seven__title-card {
   font-family: 'Cormorant Infant';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 56px;
   letter-spacing: 0.2px;
   color: #292E36;
}

.section-seven__text-card {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   letter-spacing: 0.2px;
   color: #555555;
}

.section-seven__decor-cost {
   position: absolute;
   z-index: 10;
   font-family: 'Cormorant Infant';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 66px;
   letter-spacing: 0.2px;
   color: #292E36;
   z-index: 5;
   top: 20%;
}

.section-seven__decor-only {
   position: absolute;
   z-index: 10;
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 10px;
   letter-spacing: 0.15px;
   text-transform: uppercase;
   color: #292E36;
   z-index: 5;
   top: 20%;
}

.section-seven__decor-cost.pizza,
.section-seven__decor-only.pizza {
   color: #FFFFFF;
}

/*SECTION EIGHT - Popular Dishes */

.section-eight {
   position: relative;
   padding: 0 2.7vw;
   text-align: center;
}

.section-eight__text-content {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.section-eight__main-title {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 22px;
   text-align: center;
   letter-spacing: 3px;
   text-transform: uppercase;
   color: #292E36;
   margin-bottom: 0.8vw;
}

.section-eight__main-title::after,
.section-eight__main-title::before {
   content: "";
   display: block;
   position: relative;
   width: 57px;
   height: 1px;
   background-color: #E1B168;
}

.section-eight__main-title::before {
   bottom: 3px;
}

.section-eight__title {
   font-family: 'Cormorant Infant';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 56px;
   letter-spacing: 0.2px;
   text-transform: capitalize;
   color: #292E36;
   margin-bottom: 0.5vw;
}

.section-eight__about {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   text-align: center;
   letter-spacing: 0.2px;
   color: #555555;
}

.section-eight__img-content {
   display: flex;
   justify-content: center;
   gap: 30px;
   flex-wrap: wrap;
   margin: 3.5vw 0 4.5vw 0;
}

.section-eight__card-dishes {
   max-width: 307px;
   text-align: start;
}

.section-eight__img {
   width: 100%;
   height: auto;
}

.section-eight__name-dishes-cost {
   display: flex;
   justify-content: space-between;
   margin: 0.6vw 0 0.7vw 0;
}

.section-eight__about-dishes::before {
   content: "";
   display: block;
   position: relative;
   width: 100%;
   height: 1px;
   background-color: #DCDCDC;
   margin-bottom: 0.9vw;
}

.section-eigth__name-dishes,
.section-eigth__cost-dishes {
   font-family: 'Cormorant Infant';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 42px;
   letter-spacing: 0.2px;
   color: #292E36;
}

.section-eight__about-dishes {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   letter-spacing: 0.2px;
   color: #555555;
}

.section-eight__button {
   border: #E1B168 solid 1px;
   background-color: #FFFFFF;
}

.section-eight__button-name {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   text-align: center;
   color: #E1B168;
   padding: 1.2em 3.5em;
}

/* SECTION NINE - Our Great Services */

.section-nine {
   width: 100%;
   height: auto;
   background-color: #292E36;
   margin-top: 9.7vw;
   display: flex;
   justify-content: space-between;
   padding: 10vw 2.7vw;
   gap: 20px;
}

.section-nine__text-content {
   width: 30%;
}

.section-nine__main-title {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 22px;
   letter-spacing: 3px;
   text-transform: uppercase;
   color: #FFFFFF;
}

.section-nine__main-title::after,
.section-nine__main-title::before {
   content: "";
   display: block;
   position: relative;
   width: 168px;
   height: 1px;
   background-color: #E1B168;
}

.section-nine__main-title::before {
   top: -3px;
}

.section-nine__title {
   font-family: 'Cormorant Infant';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 56px;
   letter-spacing: 0.2px;
   text-transform: capitalize;
   color: #FFFFFF;
   margin: 0.7vw 0 0.9vw 0;
}

.section-nine__about {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   letter-spacing: 0.2px;
   color: #FFFFFF;
   margin-bottom: 1vw;
}

.section-nine__icon-elements {
   display: flex;
   gap: 30px;
}

.section-nine__elements {
   border: #343942 solid 20px;
   text-align: center;
   width: 254px;
   height: 235px;
}

.fa-solid.fa-clock,
.fa-solid.fa-book-open,
.fa-solid.fa-truck-fast {
   color: #E1B168;
   font-size: 50px;
   margin-bottom: 15px;
   padding-top: 20%;
}

.section-nine__text-element {
   font-family: 'Cormorant Infant';
   font-style: normal;
   font-weight: 400;
   font-size: 25px;
   line-height: 35px;
   text-align: center;
   letter-spacing: 0.2px;
   color: #FFFFFF;
}

/* SECTION TEN - Be First Who Read News */

.section-ten {
   padding: 10vw 2.7vw;
}

.section-ten__text-content {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.section-ten__main-title {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 22px;
   letter-spacing: 3px;
   text-transform: uppercase;
   color: #292E36;
}

.section-ten__main-title::after,
.section-ten__main-title::before {
   content: "";
   display: block;
   position: relative;
   width: 53px;
   height: 1px;
   background-color: #E1B168;
}

.section-ten__main-title::before {
   top: -3px;
}

.section-ten__title {
   font-family: 'Cormorant Infant';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 56px;
   letter-spacing: 0.2px;
   text-transform: capitalize;
   color: #292E36;
   margin: 0.7vw 0 0.5vw 0;
}

.section-ten__about {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   letter-spacing: 0.2px;
   color: #555555;
   text-align: center;
}

.section-ten__img-content {
   display: flex;
   gap: 50px;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 2.8vw;
}

.section-ten__cards {
   max-width: 640px;
   border: #C4C4C4 solid 1px;
}

.section-ten__img {
   width: 100%;
   height: auto;
   filter: brightness(40%);
   z-index: 1;
   position: relative;
}

.section-ten__background {
   display: flex;
   justify-content: center;
   align-items: center;
}

.section-ten__button {
   position: relative;
   z-index: 5;
   position: absolute;
   border: #E1B168 solid 1px;
   background-color: #E1B168;
   cursor: pointer;
}

.section-ten__button-name {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   line-height: 33px;
   text-align: center;
   letter-spacing: 0.44px;
   color: #292E36;
   padding: 1.3vw 4vw;
}

.section-ten__text {
   padding: 4vw 3vw 2.6vw 3vw;
}

.section-ten__text-main-title {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 22px;
   letter-spacing: 3px;
   text-transform: uppercase;
   color: #292E36;
}

.section-ten__text-main-title::after,
.section-ten__text-main-title::before {
   content: "";
   display: block;
   position: relative;
   width: 100%;
   height: 1px;
   background-color: #E1B168;
}

.section-ten__text-main-title::before {
   top: -3px;
}

.section-ten__text-titles {
   display: flex;
   gap: 30px;
}

.section-ten__text-title {
   font-family: 'Cormorant Infant';
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   line-height: 39px;
   letter-spacing: 0.2px;
   text-transform: capitalize;
   color: #292E36;
   margin: 1.8vw 0 1.7vw 0;
}

.section-ten__text-about {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   letter-spacing: 0.2px;
   color: #555555;
}

/* SECTION ELEVEN - Reservation */

.section-eleven {
   background-image: url(/taste-eat/img/img_sec_eleven_background.png);
   background-size: no-repeat;
   background-position: center;
   background-size: cover;
   width: auto;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.section-eleven__reservation {
   width: 64vw;
   height: 48vw;
   background-color: rgba(41, 46, 54, 0.95);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 9.7vw 18vw;
   padding: 0 9.7vw;
}

.section-eleven__section-title {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.section-eleven__input-name-email,
.section-eleven__input-persons-time-date {
   display: flex;
   justify-content: space-between;
   gap: 1.6vw;
}

.section-eleven__input-name-email {
   padding-bottom: 2vw;
}

.section-eleven__main-title {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 22px;
   letter-spacing: 3px;
   text-transform: uppercase;
   color: #FFFFFF;
}

.section-eleven__main-title::after,
.section-eleven__main-title::before {
   content: "";
   display: block;
   position: relative;
   width: 136px;
   height: 1px;
   background-color: #E1B168;
}

.section-eleven__main-title::before {
   top: -3px;
}

.section-eleven__title {
   font-family: 'Cormorant Infant';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 56px;
   letter-spacing: 0.2px;
   text-transform: capitalize;
   color: #FFFFFF;
   margin: 0.7vw 0 1.4vw 0;
}

.section-eleven__reservation_input {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   line-height: 33px;
   letter-spacing: 0.2px;
   color: #FFFFFF;
   background-color: rgba(41, 46, 54, 0.95);
   height: 4.8vw;
   width: 21.3vw;
   border: #858585 solid 1px;
   padding-left: 1.4vw;
}

.section-eleven__reservation_input.two {
   width: 13.7vw;
}

.section-eleven__button {
   border: #FFFFFF solid 1px;
   background-color: #FFFFFF;
   cursor: pointer;
   margin-top: 2vw;
}

.section-eleven__button-name {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   line-height: 33px;
   text-align: center;
   letter-spacing: 0.2px;
   color: #000000;
   padding: 1.6vw 3.7vw;
}

/* footer */

.footer {
   padding: 9vw 2.8vw 1.6vw 2.8vw;
   background-color: #292E36;
}

.footer__hashtag-social {
   display: flex;
   justify-content: space-between;
}

.footer__hashtag {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   line-height: 33px;
   letter-spacing: 0.2px;
   color: #FFFFFF;
}

.footer__social {
   display: flex;
   gap: 30px;
}

.footer__main-info {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer__main-title {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 21px;
   letter-spacing: 3px;
   text-transform: uppercase;
   color: #FFFFFF;
   margin-bottom: 2.2vw;
   width: 174px;
}

.footer__main-title.contact {
   width: 92px;
}

.footer__main-title::after,
.footer__main-title::before {
   content: "";
   display: block;
   position: relative;
   width: 100%;
   height: 1px;
   background-color: #E1B168;
}

.footer__main-title::before {
   top: -3px;
}

.footer__info {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   letter-spacing: 0.2px;
   color: #FFFFFF;
}

.footer__info.tel,
.footer__info.email {
   color: #E1B168;
}

.footer__logo-subcribe {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.footer__logo {
   width: 26.25vw;
   height: 13vw;
   margin-bottom: 2vw;
}

.footer__about {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   text-align: center;
   letter-spacing: 0.2px;
   color: #FFFFFF;
}

.footer__form {
   height: 4vw;
   margin: 2vw 0 6vw 0;
}

.footer__email {
   height: 100%;
   width: 26vw;
   background: #292E36;
   border: #858585 solid 1px;
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   line-height: 33px;
   letter-spacing: 0.2px;
   color: #FFFFFF;
   padding-left: 15px;
}

.footer__button {
   height: 100%;
   width: 15vw;
   border: #FFFFFF solid 1px;
   background-color: #FFFFFF;
   cursor: pointer;
   margin-left: -4px;
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 22px;

   text-align: center;
   letter-spacing: 0.2px;
   color: #000000;
}

.footer__week {
   display: flex;
   gap: 10px;
}

.footer__week-day,
.footer__time {
   font-family: 'Josefin Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   text-align: right;
   letter-spacing: 0.2px;
   color: #E1B168;
}

.footer__time {
   color: #FFFFFF;
}